Pillow
accelerate
aiohttp
argilla
awscli
aws-jupyter-proxy
bitsandbytes
boto3
bs4
chromadb
datasets
diffusers
distilabel
faiss-cpu
faiss-gpu
fiftyone
ftfy
google-search-results
huggingface_hub
jupyter
jupyterlab
langchain
langchain-community
langchain-openai
langchainhub
llama-index
matplotlib
numpy
openai
openpyxl
outlines
pacmap
pandas
peft
pydantic
pymongo
scikit-learn
scipy
sentence-transformers
sentencepiece
serpapi
setfit
tqdm
transformers
umap-learn
wandb
xformers
